---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import { getCollectionEntries } from "@lib/contentParser";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize } from "@lib/utils/textConverter";

export const prerender = true

export async function getStaticPaths() {
  const tags = await getTaxonomy("posts", "tags");

  return tags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;

const posts = await getCollectionEntries("posts");
const filterByTags = taxonomyFilter(posts, "tags", tag);

const title = humanize(tag || "");
---

<Base title={title || "Tag"}>
  <div class="section">
    <div class="container">
      <p class="text-center mb-4">Geschichten rund um's Thema:</p>
      <h1 class="h2 mb-16 text-center text-primary">{title}</h1>
      <Posts posts={filterByTags} fluid={false} />
    </div>
  </div>
</Base>
