---
import Base from "@layouts/Base.astro";
import Icon from "@layouts/components/Icon.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { humanize } from "@lib/utils/textConverter";

export const prerender = true;

const tags = await getTaxonomy("posts", "tags");
---

<Base title={"Themen"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Nach Themen</h1>
      <ul class="space-x-4">
        {
          tags.map((tag) => (
            <li class="inline-block">
              <a
                href={`/tags/${tag}`}
                class="bg-theme-light text-dark hover:bg-primary group flex items-center rounded-lg px-4 py-2 transition hover:text-white"
              >
                <Icon name="Hashtag" class="text-primary mr-1 transition group-hover:text-white" />
                <>{humanize(tag || "")}</>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
