---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import { getCollectionEntries } from "@lib/contentParser";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize } from "@lib/utils/textConverter";

export const prerender = true

export async function getStaticPaths() {
  const categories = await getTaxonomy("posts", "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getCollectionEntries("posts");
const filterByCategory = taxonomyFilter(posts, "categories", category);

const title = humanize(category || "")
---

<Base title={title || "Land / Region"}>
  <div class="section">
    <div class="container">
      <p class="text-center mb-4">Geschichten aus:</p>
      <h1 class="h2 mb-16 text-center text-primary">{title}</h1>
      <Posts posts={filterByCategory} fluid={false} />
    </div>
  </div>
</Base>
